<div class="container my-5">

    <h2 class="mb-4">Edite um produto</h2>

    <div class="form-group">
        <label class="" for="nome">Nome do produto:</label>
        <input type="text" class="form-control" id="nome" aria-label="Área para digitar nome do produto" placeholder="Digite aqui o nome do produto" 
            [(ngModel)]='produto.nome'>
    </div>
    <div class="form-group">
        <label class="" for="nome">Descrição do produto:</label>
        <input type="text" class="form-control" id="descriçao produto" aria-label="Área para digitar descrição do produto" placeholder="Digite aqui a descrição do produto"
            [(ngModel)]='produto.descricao'>
    </div>
    <div class="form-group">
        <label class="" for="nome">Primeira imagem:</label>
        <input type="text" class="form-control" id="imagem1" aria-label="Área para colocar link da primeira imagem do produto" placeholder="URL da primeira imagem" 
            [(ngModel)]='produto.imag1'>
    </div>
    <div class="form-group">
        <label class="" for="nome">Segunda imagem:</label>
        <input type="text" class="form-control" id="imagem2" aria-label="Área para colocar link da segunda imagem do produto" placeholder="URL da segunda imagem"
            [(ngModel)]='produto.imag2'>
    </div>
    <div class="form-group">
        <label class="" for="nome">Terceira imagem:</label>
        <input type="text" class="form-control" id="imagem3" aria-label="Área para colocar link da terceira imagem do produto" placeholder="URL da terceira imagem"
            [(ngModel)]='produto.imag3'>
    </div>

    <div class="form-group">
        <label class="" for="titulo">Preço:</label>
        <input type="number" class="form-control" id="preco" aria-label="Área para indicar o preço do produto" placeholder="Digite aqui o preço do produto" 
            [(ngModel)]='produto.preco'>
    </div>

    <div class="form-group">
        <label class="" for="titulo">Quantidade:</label>
        <input type="number" class="form-control" id="quantidade" aria-label="Área para indicar a quantidade de produto" placeholder="Digite aqui a quantidade de produto"
            [(ngModel)]='produto.quantidade'>
    </div>

    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="estoque" aria-label="Checkbox para marcar se há estoque disponível" [(ngModel)]='produto.estoque'>
        <label class="form-check-label" for="">Produto em estoque</label>
    </div>

    <div class="form-group my-3">
        <label class="" for="tema">Escolha uma categoria</label>
        <select name="categoria" id='categoria' class="form-control" aria-label="Lista de categorias cadastradas" [(ngModel)]="idCategoria"
            (change)='findAllCategorias()'>
            <option *ngFor='let item of listaCategorias' value={{item.id}}>
                {{item.nome}}
            </option>
        </select>
    </div>

    <div class="form-group d-flex justify-content-end">
        <button type="button" class="btn btn-info" style=" background-color: #286090; border-color: #286090;" (click)='salvarProduto()'>Salvar produto</button>
    </div>
</div>