a {
    font-family: 'Averia Serif Libre', cursive;
    cursor: pointer;
    font-size: 20px;
}

a:hover{
    color:#182C2D!important;   
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 0.3s;
}