<div class="container">
    <div class="row mt-5 mb-5">

        <div class="col-md-12">

            <div>
                <div class="form-group">
                    <label for="nome">Nome da categoria:</label>
                    <input type="text" class="form-control" id="nome" name="nome" placeholder="Digite aqui o nome"
                        aria-label="Área para digitar o nome da categoria" [(ngModel)]="categoria.nome">
                </div>
                <div class="form-group">
                    <label for="categoriaimg">Imagem da categoria:</label>
                    <input type="text" class="form-control" id="categoriaimg" name="categoriaimg"
                        placeholder="Insira aqui a URL da imagem"
                        aria-label="Área para colar a URL com a imagem da categoria" [(ngModel)]="categoria.img">
                </div>

                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btnPrimary" aria-label="Botão para salvar as mudanças realizadas"
                        (click)="salvar()">Salvar</button>
                </div>
            </div>
        </div>
    </div>
</div>