<app-search></app-search>
<section class="w-100 fundo">    
    <div class="container">
        <div class="w-100 py-5 w-100 text-center">
            <h1 class="text-white">Resultado da busca</h1>
        </div>
      <div class="row  row-cols-md-5 ">
        <div class="col mb-2" *ngFor="let item of listaProdutos">
            <a [routerLink]='["/prod", item.id]' class="produto">
                 <div class="card border border-success text-dark hover-focus">
                <div class="cardImg">
                    <img src="{{item.imag1}}" class="card-img-top innerImg" alt="{{item.nome}}">
                </div>
                <div class="card-body">
                    <h5 class="card-title t-produto">{{item.nome}}</h5>
                    <hr>
                    <h5 class="card-title">{{item.preco | currency:'BRL'}}</h5>
                   
                </div>
            </div>
            </a>
           
        </div>
    </div>
       
    </div>
</section>