<app-search></app-search>

<!-- imagem principal -->
<section class="w-100">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="slideImg d-flex justify-content-center align-items-center slideImg">
                    <img src="{{categoria.img}}" class="d-block w-100 img brilho-50" alt="{{categoria.nome}}">
                </div>
                <div class="carousel-caption d-flex justify-content-center align-items-start flex-column h-100">
                    <h2 class="display-3 leadTitle text-left text-light">{{categoria.nome}}</h2>
                    
                </div>
            </div>
            
        </div>
    </div>
</section>

<!-- Cards de Produto -->

<div class="pesquisa">
    <section class="w-100 ">
    <div class="container">
        
        <div class="w-100 my-5 w-100 text-center">
            <p class="color-font mb-0"><small>Fortaleça os produtores perto de você</small></p>
            <h1 class="">Produtos em destaque</h1>
        </div>
        <div class="row  row-cols-md-5 ">
            <div class="col mb-2" *ngFor="let item of categoria.produto">
                <a [routerLink]='["/prod", item.id]' class="produto">
                     <div class="card border border-success text-dark hover-focus">
                    <div class="cardImg">
                        <img src="{{item.imag1}}" class="card-img-top innerImg" alt="{{item.nome}}">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title t-produto ">{{item.nome}}</h5>
                        <hr>
                        <h5 class="card-title">{{item.preco | currency:'BRL'}}</h5>
                       
                    </div>
                </div>
            </a>
               
            </div>
        </div>
    </div>
</section>
</div>