/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@700&display=swap');

h1, h2, h3, h4, h5 {
  font-family: 'Averia Serif Libre', cursive;
  color: #182C2D!important;
}

body {
  background-color: #FFFEF8!important;
  overflow-y:scroll;
  font-size: 20px!important;
}

.btnlink {
  color: #49B577;
}

.btnlink:hover {
  background-color: #49B57717;
  color: #49B577;
  transition: 0.4s;
}

.btnPrimary {
  background-color: #49B577;
  color: #fff;
}

.btnPrimary:hover {
  background-color: #3b9261;
  transition: 0.4s;
}

.btnPrimaryOutline {
  background-color: #fff;
  color: #49B577; 
  color: #49B577; 
}

.btnPrimaryOutline:hover {
  background-color: #49B577;
  color: #fff;
  transition: 0.4s;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.btn-success {
  background-color: #49B577;
}